<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net configSource="Config\Production\Log4Net.config" xdt:Transform="Replace" />
  <connectionStrings configSource="Config\Production\ConnectionStrings.config" xdt:Transform="Replace" />
  <appSettings configSource="Config\Production\AppSettings.config" xdt:Transform="Replace" />
  <elmah xdt:Transform="Replace">
    <security configSource="Config\Production\Elmah.Security.config" />
    <errorLog configSource="Config\Production\Elmah.ErrorLog.config" />
    <errorFilter configSource="Config\Production\Elmah.ErrorFilter.config" />
  </elmah>
  <system.diagnostics configSource="Config\Production\Diagnostics.config" xdt:Transform="Insert" />
  <system.web>
    <healthMonitoring configSource="Config\Production\HealthMonitoring.config" xdt:Transform="Replace" />
    <customErrors configSource="Config\Production\CustomErrors.config" xdt:Transform="Replace" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <trace xdt:Transform="Remove" />
  </system.web>
  <system.codedom xdt:Transform="Remove"></system.codedom>
</configuration>