@model Nagnoi.SiC.Domain.Core.Model.InformacionCaso_Result

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <a href="#" onclick="window.open('@Model.ReportLink', '_blank');" ><input type="button" value="Reporte de Historial de Pagos" class="btn btn-dark btn-block" /></a>
    </div>
</div>