@{
    ViewBag.Title = "Inicio";
}

@section Styles{
 
}


@section Scripts {

   

}
<div class="homePage">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-danger">
                <h2>Historial de Pagos</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>No existen pagos en el caso</h2>
        </div>
    </div>
</div>