<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 id="tltTableReference" class="panel-title">Tipo de Transferencia</h1>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="grid-data-transfertype" class="table table-striped table-bordered display">
                            <thead>
                                <tr>                                    
                                    <th>Tipo de Transferencia</th>
                                    <th>¿Oculto?</th>
                                </tr>
                            </thead>
                            <tfoot>                               
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>