<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SicModel"
         connectionString="Server=10.2.249.55;Database='SiC DB';User Id=nagnoi;Password=N@gn0iCF53;MultipleActiveResultSets=true;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="DependencyResolverTypeName" value="Nagnoi.SiC.Infrastructure.Core.Dependencies.StructureMapDependencyManager, Nagnoi.SiC.Infrastructure.Core" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="AppId" value="SiC" />
    <add key="Name" value="DG1" />
    <add key="User" value="Interfaz" />
    <add key="Password" value="INTsap0516!" />
    <add key="Language" value="EN" />
    <add key="ServerHost" value="10.2.249.151" />
    <add key="SystemNumber" value="01" />
    <add key="Client" value="200" />
    <add key="PoolSize" value="5" />
    <add key="PeakConnectionsLimit" value="10" />
    <add key="IdleTimeout" value="600" />
  </appSettings>
</configuration>