<div id="detalle" class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <strong class="text-danger">
                Resumen de Inversión
            </strong>
            <div class="pull-right">
                <a class="collapse-click">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class='table-responsive'>
                    <table id="InversionSummary" class="table table-striped table-bordered">
                        <thead>
                            <tr class="active">
                                <th style="text-align: center">Fecha Inversión</th>
                                <th style="text-align: center">Cantidad Invertida</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Inversión Total:</th>
                                <th style="text-align: right"></th>
                            </tr>
                        </tfoot>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>