<div class="row">
    <div class="col-md-4">
        <input class="btn btn-default" type="button" value="Añadir Participante" id="btnAddParticipant"/>
        <input class="btn btn-default" id="btnEdit" type="submit" value="Guardar" />
        <input class="btn btn-default" id="btnCancel" type="reset" value="Cancelar" />
    </div>
</div>