<div class="row">
    <div class="col-md-12">
        <div class='table-responsive'>
            <table id="tblParticipant" class="display">
                <thead>
                    <tr class="active">
                        <th>@Model.ResourceService.GetResourceString("Demografico.TipoDeParticipante.header.text")</th>
                        <th>@Model.ResourceService.GetResourceString("Demografico.NumeroCaso.header.text")</th>
                        <th>@Model.ResourceService.GetResourceString("Demografico.NombreCompleto.header.text")</th>
                        <th>@Model.ResourceService.GetResourceString("Demografico.Estatus.header.text")</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>