<div class="row">
    @* row: 13 *@
    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label" for="observation">@Model.ResourceService.GetResourceString("Demografico.Observaciones.label.text")</label>
            <textarea class="form-control" rows="3" id="observation"></textarea>
        </div>
    </div>
</div>